<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>542310957066-k4mq2slsd0id5psgsscimda78t1m4p8f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.542310957066-k4mq2slsd0id5psgsscimda78t1m4p8f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>542310957066-ggbov198lp566q27jotivt501ijbg8ke.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB-n09fXGlXK17ecLNyaT08sNW2qBoi_t0</string>
	<key>GCM_SENDER_ID</key>
	<string>542310957066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tuyendung102</string>
	<key>PROJECT_ID</key>
	<string>ttv-work</string>
	<key>STORAGE_BUCKET</key>
	<string>ttv-work.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542310957066:ios:8ab3eeed7ce7c1968f5ff3</string>
</dict>
</plist>